---
# Only the main Sass file needs front matter (the dashes are enough)
---

#map{
  border: 1px solid black;
  margin-bottom: 25px;
}

#zoomWrapper {
  rect {
    opacity: 0;
  }
}

.land{
  fill: lightgray;
}

.country{
  fill: white;
  opacity: 0.5;
  stroke: red;
  stroke-width: 1px;
}

.city{
  opacity: 0.9;

  &.Blake{
    fill: blue;
    stroke: green;
  }

  &.Bret{
    fill: orange;
    stroke: brown;
  }
}

g.d3-tooltip {
  rect {
    border: 1px solid black;
    border-radius: 5px;
    fill: #111;
    stroke: #888;
    stroke-width: 1px;
    opacity: 0.8;
  }

  text {
    fill: white;
    text-anchor: middle;
    font-size: 1.25em;
  }
}