body {
    padding-top: 50px;
}
svg{
    margin: 15px 15px;
}
div#mapDiv{
    border: 1px solid black;
}
path.state{
    fill: white;
    stroke: black;
}
.title-text {
    padding: 10px 15px;
    text-align: center;
}