body {
    padding-top: 100px;
}
.title-text {
    padding: 25px 15px;
    text-align: center;
}
.heading-text{
    padding: 10px 10px;
    text-align: center;
}
.link-list{
    padding: 10px 10px;
    text-align: center;
}
.project-list{
    padding: 10px 10px;
    text-align: center;
}
