body {
    padding-top: 100px;
    background-image: url("../mandelbrot-wallpaper.jpg");
}
div.border{
    background-color: white;
    border: 2px solid red;
    border-radius: 15px;
}
div.space50{
    height: 50px;
}
.opacity50{
    opacity: 0.5;
}
.title-text {
    padding: 25px 15px;
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: #000000;
}
.link-list{
    text-align: center;
}
.project-list{
    text-align: center;
}

a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #11aa00;
}

/* mouse over link */
a:hover {
    color: #FF2288;
}

/* selected link */
a:active {
    color: #FFFFFF;
}