/**
 * Full screen
 */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

span.space {
  margin-left: 10px;
  margin-right: 10px;
}

.space:hover { 
    cursor: pointer; 
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

#canvasDiv {
  margin-bottom: 60px;
}

#navbar-bottom {

  margin-bottom: 0;
}